#map {
    min-width: 85vw;
    min-height: 50vh;
  }
  
  
  @media (min-width: 1100px) {
    #map {
      min-width: 50vw;
      min-height: 50vh;
    }
  }
  
  
  .backButton {
    min-width: 10vw;
  }
  
  .list {
    max-width: 10vw;
  }
  
  .views {
    color: white;
  }
  
  .views:hover {
    color: white;
  }
  
  .scheduleInfo {
    color: white;
    font-weight: bold;
  }